* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Georgia', serif;
    background-image: url(../img/Fondo.png);
    background-size: cover; /* Cubra toda la pantalla */
    background-repeat: no-repeat; /* No se repita */
    background-position: center; /* Se ubique en el centro */
}

header, footer {
    display: flex;
    justify-content: space-around;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

#titulo, #copyright {
    font-family: "Parisienne", cursive;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

section {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tablas {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 0px 10px black;
}

.tablas h1 {
    font-family: 'Georgia', serif;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

table {
    width: 100%;
    text-align: left;
}

@media (max-width: 1300px) {

    main {

        display: block;
            
    }

    section {

        display: block;
        width: 80%;

    }

    .tablas {

        margin-bottom: 2%;

    }

}